@charset "utf-8";
/* ---- Default Styles ---- */
.pagination_best_deal {
  margin-top: 0px;
}

.deal_detail_img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*max-height: 500px;*/
}

